body {
  background-color: #121212;
}

.btn {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  background-color: #bb86fc;
  color: #000000;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  width: auto;
  padding-top: 2%;
  padding-bottom: 5%;
  margin-bottom: 4%;
}

h1 {
  font-size: 96px;
  font-weight: 300;
  margin: 0;
  text-align: center;
}

h2 {
  font-size: 60px;
  font-weight: 300;
  margin: 0;
  text-align: center;
}

h3 {
  font-size: 48px;
  font-weight: 400;
  margin: 0;
  text-align: center;
}

h4 {
  font-size: 34px;
  font-weight: 400;
  margin: 0;
  text-align: center;
}

h5 {
  font-size: 24px;
  font-weight: 400;
  margin: 0;
  text-align: center;
}

h6 {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  text-align: center;
}

p {
  font-size: 16px;
  font-weight: 400;
}

a {
  font-size: 16px;
  font-weight: 400;
  color: inherit;
  text-decoration: inherit;
  cursor: pointer;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

input {
  color: #ffffff87;
  background-color: #121212;
  border-radius: 5px;
  outline: none;
  margin-bottom: 3%;
  border: none;
  height: 25px;
  padding-left: 2%;
}

input:focus {
  color: #bb86fc;
  border-color: #bb86fc;
}

.icone {
  background-color: #03dac6;
  border-radius: 50%;
  height: fit-content;
  width: fit-content;
}

.newTab {
  color: #bb86fc;
}

fieldset {
  border-style: none;
}

.telaLogin {
  padding: 5%;
  margin-top: 30%;
  position: static;
}

/* .menuLateral {
  transition: 0.5s;
  margin: 0;
  height: 100%;
  position: fixed;
  text-align: left;
  text-decoration: none;
  line-height: 50px;
  left: -5.5%;
}

.menuLateralmostra {
  transition: 0.5s;
  margin: 0;
  height: 100%;
  text-align: left;
  text-decoration: none;
  line-height: 50px;
  left: 0%;
}

nav ul li:hover {
  color: #bb86fc;
  background-color: #bb86fc60;
  transition: 0.5s;
}

nav ul li {
  font-size: 34px;
  font-weight: 400;
  display: block;
}

ul {
  list-style-type: none;
  list-style: none;
}

li {
  padding-left: 2%;
} */

.dp01 {
  background-color: #ffffff05;
  border-radius: 5px;
  width: 100%;
}

.dp03 {
  background-color: #ffffff08;
  border-radius: 5px;
  width: 100%;
}


.dp06 {
  background-color: #ffffff11;
  border-radius: 5px;
  width: 100%;
}

.dp12 {
  background-color: #ffffff14;
  border-radius: 5px;
  width: 100%;
}

.dp24 {
  background-color: #ffffff16;
  border-radius: 5px;
  width: 100%;
}

.empHigh, h1, h2, h3, h4, h5, h6 {
  color: #ffffff87;
}

.empMedium, label {
  color: #ffffff60;
}

.empDisabled {
  color: #ffffff38;
}

* {
  padding: 0;
  font-family: Roboto, sans-serif;
}

.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #ffffff14;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}
.sidebar.open{
  width: 250px;
}

/* Configuracao logo */

.sidebar .logo-details{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .icon{
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name{
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name{
  opacity: 1;
}
.sidebar .logo-details #btn{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn{
  text-align: right;
}

/* END Configuracao logo */

.sidebar i{
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .nav-list{
  margin-top: 20px;
  height: 100%;
}
.sidebar li{
  position: relative;
  margin: 8px 0;
  list-style: none;
}
/* Configuracoes do tooltip*/

.sidebar li .tooltip{
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #bb86fc60;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
  color: #bb86fc;
}
.sidebar li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.5s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip{
  display: none;
}

/* END Configuracoes do tooltip*/

.sidebar{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #1d1b31;
  color: #FFF;
}
.sidebar.open{
  color: #FFF;
}
.sidebar{
  background-color: #bb86fc60;
  color: #ffffff00;
}
.sidebar li a span{
  display: none;
}
.sidebar.open li a span{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 3px;
  align-items: center;
  text-decoration: none;
  transition: all 0.5s ease;
}
.sidebar li a:hover{
  color: #bb86fc;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i{
  transition: all 0.5s ease;
}
.sidebar li i{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}

/* Profile */

.sidebar li.profile{
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #1d1b31;
  transition: all 0.5s ease;
  overflow: hidden;
}
.sidebar.open li.profile{
  width: 250px;
}
.sidebar li .profile-details{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.sidebar li img{
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}
.home-section{
  position: relative;
  background: #E4E9F7;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}
.sidebar.open ~ .home-section{
  left: 250px;
  width: calc(100% - 250px);
}
.home-section .text{
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px
}
@media (max-width: 420px) {
  .sidebar li .tooltip{
    display: none;
  }
}

/* END Profile */