html, body, .wrapper {
  height: 100%;
}

body {
  background-color: #121212;
}

.modal-content {
  background-color: #202020;
}

.btn, .modal-dialog .btn {
  font-family: Roboto, sans-serif !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  background-color: #bb86fc !important;
  color: #000000 !important;
  border-radius: 5px !important;
  border: none !important;
  outline: none !important;
  cursor: pointer !important;
  vertical-align: middle !important;
  text-align  : center;
  width       : auto;
}

h1 {
  font-size: 96px;
  font-weight: 300;
  margin: 0;
  text-align: center;
}

h2 {
  font-size: 60px;
  font-weight: 300;
  margin: 0;
  text-align: center;
}

h3 {
  font-size: 48px;
  font-weight: 400;
  margin: 0;
  text-align: center;
}

h4 {
  font-size: 34px;
  font-weight: 400;
  margin: 0;
  text-align: center;
}

h5 {
  font-size: 24px;
  font-weight: 400;
  margin: 0;
  text-align: center;
}

h6 {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  text-align: center;
}

p {
  font-size: 16px;
  font-weight: 400;
}

a {
  font-size: 16px;
  font-weight: 400;
  color: inherit;
  text-decoration: inherit;
  cursor: pointer;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.modal-header {
  border-bottom: 0 none;
}

.modal-footer {
  border-top: 0 none;
}

input, .modal-dialog input {
  color: #ffffff87;
  background-color: #121212;
  border-radius: 5px;
  outline: none;
  border: none;
  height: 25px;
  padding-left: 2%;
}

input:focus, .modal-dialog input:focus {
  color: #bb86fc;
  border-color: #bb86fc;
}

.icone {
  background-color: #03dac6;
  border-radius: 50%;
  height: fit-content;
  width: fit-content;
}

.newTab {
  color: #bb86fc;
}

fieldset {
  border-style: none;
}

.telaLogin {
  padding: 5%;
  margin-top: 30%;
  position: static;
}

.dp01 {
  background-color: #ffffff05;
  border-radius: 5px;
  width: 100%;
}

.dp03 {
  background-color: #ffffff08;
  border-radius: 5px;
  width: 100%;
}

.dp06 {
  background-color: #ffffff11;
  border-radius: 5px;
  width: 100%;
}

.dp12 {
  background-color: #ffffff14;
  border-radius: 5px;
  width: 100%;
}

.dp24 {
  background-color: #ffffff16;
  border-radius: 5px;
  width: 100%;
}

.empHigh, h1, h2, h3, h4, h5, h6 {
  color: #ffffff87;
}

.empMedium, label {
  color: #ffffff60;
}

.empDisabled {
  color: #ffffff38;
}

* {
  padding: 0;
  font-family: Roboto, sans-serif;
}

/* Configuracao logo */

.sidebar .logo-details {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}

.sidebar .logo-details .icon {
  opacity: 0;
  transition: all 0.5s ease;
}

.sidebar .logo-details .logo_name {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.2s ease;
}

.sidebar.open .logo-details .icon, .sidebar.open .logo-details .logo_name {
  opacity: 1;
}

.sidebar .logo-details #btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}

.sidebar.open .logo-details #btn {
  text-align: right;
}

/* END Configuracao logo */

.sidebar i {
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}

.sidebar .nav-list {
  margin-top: 20px;
  height: 100%;
}

.sidebar li {
  position: relative;
  margin: 8px 0;
  list-style: none;
}

/* END Configuracoes do tooltip*/

.sidebar {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #1d1b31;
  color: #FFF;
}

.sidebar.open {
  color: #FFF;
}

.sidebar {
  background-color: #bb86fc60;
  color: #ffffff00;
}

.sidebar li a span {
  display: none;
}

.sidebar.open li a span {
  display: inherit;
  height: 100%;
  width: 100%;
  border-radius: 3px;
  align-items: center;
  text-decoration: none;
  transition: all 0.5s ease;
}

.sidebar a:hover {
  color: #bb86fc;
}

.sidebar li a:hover .links_name, .sidebar li a:hover i {
  transition: all 0.5s ease;
}