#content {
  background-color: #ffffff20;
  border-radius: 5px;
}

/*----------------------------------------------------------------*/

.cabecalho {}

.cabecalho .campofixo {
  white-space: nowrap;
  font-weight: bold;
}

.cabecalho .dadostarefa {
  overflow: hidden;
  text-overflow: ellipsis;
}

/*----------------------------------------------------------------*/

.mostrarespostas {
  border-radius: 5px;
  overflow-y: scroll;
  background-color: #ffffff10;
}

.mostrarespostas .respostatexto {}

.mostrarespostas .respostadados {
  border-top-color: #ffffff;
  border-top-width: 1px;
  border-top-style: solid;
}

/*----------------------------------------------------------------*/

.rodape {
  display: inline-block;
}

.rodape .contagemtempo {
  border-radius: 5px;
  overflow-y: scroll;
  background-color: #ffffff10;
  font-size: 13px;
}

.rodape textarea.novaresposta {
  border-radius: 5px;
  overflow-y: scroll;
  background-color: #ffffff10;
  border: none;
}

.rodape textarea.novaresposta:focus {
  outline: none;
}

.radape .btn {
  width: auto;
  display: inline-block;
  margin-left: 5%;
}

/*--------------------------------------------*/

.h-55 {
  height: 55%;
}

.h-25 {
  height: 25%;
}

.h-15 {
  height: 15%;
}

.h-78 {
  height: 78%;
}