<div class='container h-100'>

  <div class='dp12 alinhaCentro' id="containerlogin">

    <div class="row" id="cabecalhoCadastro">
      <div class="col-md"></div>
      <div class="col-md-6" style="color: #FFFFFF87;">
        <h4 class="h-100">Criar uma conta</h1>
      </div>
      <div class="col-md"></div>
    </div>

    <div class="row" id="conteudoFormulario">
      <div class="col-md-9 alinhaCentro">
        <form autocomplete="off" class="m-2" action="cadUsuario" method="POST">
          <fieldset>
            <label for="nome">Nome:</label>
            <input class="dp06" style="width: 100%;" type="text" id="nome" name="nome"
              placeholder="Ex.: Lucas Buligon Antunes" required>
            <label for="email">Email:</label>
            <input class="dp06" style="width: 100%;" type="email" id="email" name="email"
              placeholder="Ex.: email@exemplo.com" required>
            <label for="pwd">Senha:</label>
            <input class="dp06" style="width: 100%;" type="password" id="pwd" name="pwd"
              placeholder="&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;"
              required>
            <label for="pwd2">Confirme sua senha:</label>
            <input class="dp06" style="width: 100%;" type="password" id="pwd2" name="pwd2"
              placeholder="&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;"
              required>
            <label for="datanasc">Data de nascimento:</label>
            <input class="dp06" style="color:#FFFFFF60" type="date" id="datanasc" name="datanasc" min="1904-02-12"
              required>
          </fieldset>
          <div style="display: flex;" class="justify-content-around p-2">
            <button class="btn p-2"><a href="/" style="font: inherit">Cancelar</a></button>
            <button type="submit" class="btn p-2">Enviar</button>
          </div>
        </form>
      </div>
      {{!-- <div class="col-md-3">
        <div style="position: absolute;">
          <img src="https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png" alt="placeholder"
            style="width: 100px; border-radius: 50%;">
        </div>
        <div class="icone" style="position: absolute; margin-left: 40%; margin-top: 50%;">
          <span class="material-icons-outlined" style="font-size: 35px;">
            add_a_photo
          </span>
        </div>
      </div> --}}
    </div>

  </div>
  <div class="row" id="alerta" style="z-index: 2; position: absolute; left:50%; bottom: 5%;">{{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
    {{else}}
    {{/each}}
  </div>

</div>
<script>
  var today = new Date().toISOString().split('T')[0];
  document.getElementsByName("datanasc")[0].setAttribute('max', today);
</script>