<!-- action="/add" method="POST" -->

<form autocomplete="off" class="d-flex align-content-center">
  <fieldset>
    <div class="row">
      
      <div class="row mx-auto">
        <label for="nomeProjeto">Nome:</label>
        <input type="text" id="nome" name="nomeProjeto" required>
      </div>

      <div class="row mx-auto">
        <label for="descricao">Descrição:</label>
        <textarea name="descricao" class="cadastrodescricao empHigh"></textarea>
      </div>

      <div class="row mx-auto">
        <label for="banner">Banner:</label>
        <input type="file" id="banner" name="banner">
      </div>

    </div>
  </fieldset>
</form>