<!-- Novo projeto Modal -->
<div class="modal" id="tagmodal" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-md p-2" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-center">
        <h5 class="modal-title" id="ModalLongTitle">Cadastro de projetos</h5>
      </div>
      <div class="modal-body d-flex justify-content-center">
        <form autocomplete="off" class="d-flex align-content-center">
          <fieldset>
            <div class="row p-2">
              <div class="row mx-auto">
                <label for="nome">Nome:</label>
                <input type="text" id="nome" name="nome" required>
              </div>
              <div class="row mx-auto">
                <label for="Text1">Descrição:</label>
                <textarea name="Text1" maxlength="300" class="cadastrodescricao empHigh"></textarea>
              </div>
              <div class="row mx-auto">
                <label for="nome">Banner:</label>
                <input type="file" id="banner" name="banner">
              </div>
            </div>
          </fieldset>
        </form>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary">Salvar</button>
      </div>
    </div>
  </div>
</div>


<div class="wrapper d-flex">
  <nav id="sidebar" class="active">
    <ul class="list-unstyled components mb-5" style="height: 100%;">
      <li id="btnToggleSidebar">
        <button type="button" id="sidebarCollapse" class="btn btn-primary">
          <span class="material-icons-outlined">reorder</span>
        </button>
      </li>
      <li>
        <a href="/emconstrucao" class="d-flex align-content-center">
          <i class="material-icons-outlined text-center">portrait</i>
          <span>Perfil</span>
        </a>
      </li>
      <li>
        <a href="/logout" class="d-flex align-content-center">
          <i class="material-icons-outlined text-center">logout</i>
          <span>Logout</span>
        </a>
      </li>
    </ul>

  </nav>

  <div id="content" class="p-4 p-md-5">

    <section class="pt-4">
      <div class="row row-cols-1 row-cols-md-3 g-4">
        {{#each projetos}}

        <div class="col">
          <div class="card" onclick="abreProjeto({{idProjetos}})">
            <img src="/img/wallpaper.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title" style="margin-top: -15%;">{{nomeProjeto}}</h5>
              <p class="card-text empMedium">{{descricao}}</p>
            </div>
          </div>
        </div>
        {{else}}

        {{/each}}
        <div class="col">
          <div class="card">
            <div class="card-body" style="border-top-left-radius: 5px; border-top-right-radius: 5px;">
              <button id="adicionaProjeto" type="button" class="btn btn-primary alinhaCentro" style="color: transparent !important; background-color: transparent !important; border-color: transparent  !important;" data-toggle="modal" data-target="#tagmodal">
                <span id="iconeAdicionaProjeto" class="material-icons-outlined">
                  add_circle_outline
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<!-- Javascript -->
<script src="/js/jquery-3.6.0.min.js"></script>
<script src="/js/popper.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/abreProjeto.js"></script>