#content {
  background-color: #ffffff20;
  border-radius: 5px;
}

/*----------------------------------------------------------------*/

.cabecalho .campofixo {
  white-space: nowrap;
  font-weight: bold;
}

.cabecalho .dadostarefa {
  overflow: hidden;
  text-overflow: ellipsis;
}

.tag {
  background-color: cadetblue;
  height: 20px;
  border: none;
  padding: 1%;
  border-radius: 5px;
  transition: 0.5s;
  text-align: center;
  font-weight: bold;
  margin: 1%;
  min-width: 48%;
  height: 3ch;
}

.tag:hover {
  cursor: pointer;
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3);
}

.modal-body {
  display: flex;
  flex-wrap: wrap;
}

#tagsTarefa:hover {
  cursor: pointer;
}

/*----------------------------------------------------------------*/
.mostrarespostas {
  border-radius: 5px;
  overflow-y: scroll;
  background-color: #ffffff10;
}

.mostrarespostas .resposta {
  text-align: justify;
}

.mostrarespostas .respostadados {
  border-top-color: #ffffff;
  border-top-width: 1px;
  border-top-style: solid;
}

/*----------------------------------------------------------------*/

.rodape {
  display: inline-block;
}

.rodape .contagemtempo {
  border-radius: 5px;
  background-color: #ffffff10;
  font-size: 13px;
}

.rodape textarea.novaresposta {
  border-radius: 5px;
  overflow-y: scroll;
  background-color: #ffffff10;
  border: none;
}

.rodape textarea.novaresposta:focus {
  outline: none;
}

.radape .btn {
  width: auto;
  display: inline-block;
  margin-left: 5%;
}

/*--------------------------------------------*/

.h-55 {
  height: 55%;
}

.h-25 {
  height: 25%;
}

.h-15 {
  height: 15%;
}

.h-78 {
  height: 78%;
}

.field {
  display: inline-block;
  margin-left: 2%;
}

/* --------------------------------------------------------- */

.dropdown {
  height: 3ch;
  width: 15ch;
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 5px;
  background-color: #bb86fc;
  font-family: Roboto, sans-serif;
  font-weight: bold;
}

.dropdown:hover, .data:hover {
  cursor: pointer;
}